html
{
	background: white;

}

body
{
    background-color: #000080;
    width: 320px;
    height: 568px;
    border: 1px solid black;
    margin: 0 auto;
    overflow: auto;
}

h1
{
    color: #F5F5F5;
}

p
{
    color: #F5F5F5;
}

#timer
{
    color: #F5F5F5;
}
.screen
{
	display: none;
}
.screen.initial
{
	display: block;
}