html
/*{
	background: white;

}
*/
body
{
    background-color: #000080;
    /*width: 320px; */
    /*height: 568px; */
    border: 1px solid black;
    margin: 0 auto;
    overflow: auto;
}

h1
{
    color: #F5F5F5;
    font-family: Superclarendon, Century Gothic, Times New Roman;
    padding-top: 30px;
    padding-bottom: 20px;
}

h4
{
    color: #F5F5F5;
    font-family: Superclarendon, Century Gothic, Times New Roman;
    padding-top: 20px;

}

p
{
    color: #F5F5F5;
}

#timer
{
    color: #F5F5F5;
}
.screen
{
	display: none;
}
.screen.initial
{
	display: block;
}

.pad
{
    padding: .5em;
}

.margin
{
    margin: .5em;
}

.margin-top
{
    margin-top: 1em;
}

.margin-buttons
{
    margin-top: 1em;
    margin-bottom: 1em;
}

#home_button
{
	color: #F5F5F5
}

#back_button
{
	color: #F5F5F5	
}


