<!DOCTYPE html>
<html>

<head>

    <title> National Catholic Forensics League </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--link rel="stylesheet" href="css/bootstrap.css"> -->
    <link rel="stylesheet" href="css/ncfl_timer.css">

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/underscore-min.js"></script>

    <!--script src="js/bootstrap.js"></script> -->
    <script src="js/models.js"> </script>
    <script src="js/timer.js"> </script>
    
    

</head>

<body>

<section id="format_menu" class="screen">
    <header>
        <h1>Choose Debate Format</h1>
    </header>
    <div>
        <ul id="debate_types">
        </ul>
    </div>
</section>

<section id="timer" class="screen hidden">
    <h1> National Catholic Forensics League </h1>
    <p>Check back for more updates soon!</p>

    <div id="timer">
        <strong>Time Remaining: </strong><span id="mins">0</span>:<span id="secs">10</span>
    </div>
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <button id="restart">Restart</button>
</section>

<section id="old_timer" class="screen hidden">
    <h1> National Catholic Forensics League </h1>
    <p>Check back for more updates soon!</p>

    <div id="timer">
        <strong>Time Remaining: </strong><span id="mins">0</span>:<span id="secs">10</span>
    </div>
    <button id="foo">Start</button>
    <button id="bar">Stop</button>
    <button id="restart">Restart</button>
</section>

<script type="text/template" id="tmpl-new_timer">
  <li id="<%= formats %>" class=""><button><%= formats %></button></li>
</script>

<script type="text/template" id="tmpl-new-timer">
    <header>
        <h2><%= name %></h2>
    </header>
    <div id="timer">
        <strong>Time Remaining: </strong><span id="mins">0</span>:<span id="secs">10</span>
    </div>
    <div id="timerControls">

        <% for(key in formats) { %>
            <button id="<%= key %>" class=""><%= key %></button>
        <% }) %>
  
    </div>
    
</script>

<script type="text/template" id="tmpl-debate_fmt">
    <li id="<%= code %>" class=""><button><%= name %></button></li>
</script>

<script type="text/template" id="tmpl-debate_timer">
    <header>
        <h2><%= name %></h2>
    </header>

    <div id="timer">
        <strong>Time Remaining: </strong><span id="mins">00</span>:<span id="secs">00</span>
        <div id="timerControls" class="hidden">
            <button id="start">Start</button>
            <button id="stop">Stop</button>
        </div>
    </div>
    <div id="timerControls">
        <% for(key in formats) { %>
        	<button id="<%= key %>" data-time="<%= formats[key] %>" class="timerFormat"><%= key %></button>
         
        <% } %>
    </div>
    
</script>


</body>

</html>
