<!DOCTYPE html>
<html>

<head>

    <title> National Catholic Forensics League </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/ncfl_timer.css">


    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/underscore-min.js"></script>


    <script src="js/bootstrap.js"></script> 
    <script src="js/models.js"> </script>
    <script src="js/timer.js"> </script>
    
    

</head>

<!-- there should be a screen that allows you to choose Speech or Debate -->

<!-- this screen should have seven buttons that allow you to pick which event you are judging; right now it only comes up with "Choose Speech Formats" -->

<section id="speech_menu" class="text-center screen initial">
    <header>
        <h1>Choose Speech <br> Format </br> </h1>
    </header>
    </font>
    <div>
        <div id="speech_types" class="btn-group-vertical">
        </div> 
    </div>
</section> 

<!-- I created a template for speech like we did for debate but none of the information from models.js reads into this script -->

<script type="text/template" id="tmpl-speech_timer">
    <header>
        <h2 class="page-header"><%= name %></h2>

        <div class="row">

            <h3 id="main_timer"class="col-md-8 col-md-offset-4">
                <span id="mins">0</span>:<span id="secs">00</span> 
            </h3>

        </div>

    </header>

    <div id="speech-round" class="row">
        <% for(key in formats) { %>
            <button id="<%= key %>" class="timerFormat btn btn-default btn-xs col-md-6" data-time="<%= formats[key] %>"><%= speechLabels[key] %></button>
         
        <% } %>
    </div>

    <button id="prep_timer" class="col-md-4 col-md-offset-4 btn btn-info">

                <span class="mins">0</span>:<span class="secs">00</span> 
    </button>

    
</script> 

<script type="text/template" id="tmpl-speech_fmt">

    <button id="<%= code %>" class="btn btn-primary btn-lg"><%= name %></button>

</script>


<section id="format_menu" class="text-center screen initial">
    <header>
        <h1>Choose Debate <br> Format </br> </h1>
    </header>
    <div>
        <div id="debate_types" class="btn-group-vertical">
        </div> 
    </div>
</section>


<section id="timer" class="screen container-fluid">
 <!-- show the different times for a debate format -->
    <div id="debate_timer"> </div>

    <div id="timer-controls">
        <button id="start" class="btn btn-success disabled">Start</button>
        <button id="stop" class="btn btn-danger disabled">Stop</button>
        <button id="reset" class="btn btn-warning disabled">Reset</button>
    </div>

</section>


<script type="text/template" id="tmpl-new_timer">
  <li id="<%= formats %>" class=""><button><%= formats %></button></li>
</script>


<script type="text/template" id="tmpl-debate_fmt">

    <button id="<%= code %>" class="btn btn-primary btn-lg"><%= name %></button>

</script>

<!-- this script is reading in the specific round times from the Debate Labels function in models -->

<script type="text/template" id="tmpl-debate_timer">
    <header>
        <h2 class="page-header"><%= name %></h2>

        <div class="row">

            <h3 id="main_timer"class="col-md-8 col-md-offset-4">
                <span id="mins">0</span>:<span id="secs">00</span> 
            </h3>

        </div>

    </header>

    <div id="debate-round" class="row">
        <% for(key in formats) { %>
        	<button id="<%= key %>" class="timerFormat btn btn-default btn-xs col-md-6" data-time="<%= formats[key] %>"><%= debateLabels[key] %></button>
         
        <% } %>
    </div>


    <br>
    <button id="prep_timer" class="col-md-4 col-md-offset-4 btn btn-info">

                <span class="mins">0</span>:<span class="secs">00</span> 
    </button>
    </br>

    <br>
    <button type="button" class="btn btn-large">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <script>
            function goBack() {
            window.history.back()
            }
        </script>
    </button>
    </br>

</script>


</body>

</html>
